### all ignore ###
/*
/.**

### not ignore ###
!/.zshrc
!/.config
!/.config/fcitx5
!/.config/fcitx5/**
!/.config/gtk-3.0
!/.config/gtk-3.0/**
!/.config/hypr
!/.config/hypr/**
!/.config/kdeglobals
!/.config/mako
!/.config/mako/**
!/.config/nvim
!/.config/nvim/**
!/.config/qt5ct
!/.config/qt5ct/**
!/.config/sheldon
!/.config/sheldon/**
!/.config/starship.toml
!/.config/waybar
!/.config/waybar/**
!/.config/wezterm
!/.config/wezterm/**
!/.config/wlogout
!/.config/wlogout/**
!/.config/wofi
!/.config/wofi/**
!/.config/xremap
!/.config/xremap/**

!.gitignore

