* {
    font-family: 'Fira Code', 'Symbols Nerd Font Mono';
    font-size: 16px;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
    min-height: 20px;
}

window#waybar {
    background: transparent;
}

#custom-arch, #workspaces {
    /* background-color: #f477b6; */
    border-radius: 30px;
    background-color: #333333;
    color: #1793d1;
    margin-top: 10px;
    margin-right: 15px;
    padding-left: 16px;
    padding-right: 16px;
}

#custom-arch {
    font-size: 18px;
    padding-left: 1px;
    padding-right: 7px;
    margin-left: 25px;
}

#workspaces button {
    background: #333333;
    color: #aaaaaa;
}

#workspaces button.active {
    color: #f477b6;
}

#clock, #backlight, #pulseaudio, #bluetooth, #network, #battery, #custom-power{
    border-radius: 30px;
    background-color: #333333;
    color: #ffffff;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 15px;
}

#backlight, #bluetooth {
    color: #e0e050;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 5px;
    margin-right: 0px;
}

#battery {
    color: #e08060;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 5px;
}

#pulseaudio {
    color: #d080e0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-right: 0px;
}

#clock {
    margin-right: 0;
}

#network {
    color: #50e090;
}

#custom-power {
    color: #e05050;
    padding-left: 17px;
    padding-right: 18px;
    margin-right: 25px;
}
